.star1 {
  position: absolute;
  animation: fall 8s linear infinite;
  z-index: 9999999999;
}
.star2 {
  position: absolute;
  animation: fall 9s linear infinite;
  z-index: 9999999999;
}

.star3 {
  position: absolute;
  animation: fall 5s linear infinite;
  z-index: 9999999999;
}
.star4 {
  position: absolute;
  animation: fall 6s linear infinite;
  z-index: 9999999999;
}
.star5 {
  position: absolute;
  animation: fall 7s linear infinite;
  z-index: 9999999999;
}
.star6 {
  position: absolute;
  animation: fall 9s linear infinite;
  z-index: 9999999999;
}

@keyframes rise {
  0% {
    top: 100vh;
  }
  100% {
    top: -100px;
  }
}

.star8 {
  position: absolute;
  top: 100vh;
  left: calc(50% - 10px);
  animation: rise 4s linear infinite;
  z-index: 9999999999;
}

.star9 {
  position: absolute;
  top: 100vh;
  left: calc(50% - 10px);
  animation: rise 7s linear infinite;
  z-index: 9999999999;
}

.fish {
  position: absolute;
  top: calc(52% - 10px);
  left: -100px;
  animation: swim 7s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  z-index: 9999999999;
}

@keyframes swim {
  0% {
    left: -100px;
  }
  100% {
    left: 96vw;
  }
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(90vh);
  }
}

.sun {
  position: absolute;
  bottom: -50px;
  left: -50px;
  animation: riseAndMove 10s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  z-index: 9999999999;
}

@keyframes riseAndMove {
  0% {
    bottom: -50px;
    left: -50px;
  }
  100% {
    bottom: 90vh;
    left: 80vw;
  }
}
