.main {
  background-color: #00012e;
  color: #fff;
  width: 100vw;
  bottom: 0px;
  z-index: 9999;
}
.main a {
  color: #fff;
}
.btn {
  height: 35px;
  background-color: transparent;
  color: #fff;
  padding: 2px 15px 2px 15px;
  border: 1px solid #fff;
}
.input {
  height: 35px;
  border: 1px solid #fff;
}
